    .container {
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px;
    }
    
    .main-container {
        padding-top: 55px;
    }
    
    .main-card {
        margin: 20px 25px;
        width: 300px;
        height: 280px;
        font-size: 24px;
        line-height: 72px;
        text-decoration: none;
        text-align: center;
        background-color: #0e0035;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;
    }
    
    .main-card.green {
        background: blanchedalmond;
    }
    
    .main-card img {
        width: 100%;
        height: 200px;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        -webkit-transition: 0.3s;
        transition: 0.3s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .headings {
        display: flex;
        justify-content: center;
        margin: -20px;
        font-family: 'Playfair Display', serif;
        background-color: rgba(255, 235, 205, 0.336);
    }
    
    .main-card:hover {
        box-shadow: 0 25px 50px rgba(0, 0, 0, 1), 0 30px 20px rgba(0, 0, 0, 1);
    }
    
    @media all and (max-width: 720px) {
        .main-card {
            width: 250px;
        }
    }